<?xml version="1.0"?>
<launch>   
    <node name="mocapnet_rosnode" pkg="mocapnet_rosnode" type="run_it.sh" output="screen" cwd="node" respawn="true">
      <param name="name" value="mocapnet_rosnode" /> 
      <param name="fromRGBTopic" value="/camera/rgb/image_rect_color" /> 
      <param name="fromRGBTopicInfo" value="/camera/rgb/camera_info" />
      <param name="tfRoot" value="map" /> 
    </node>   
</launch>
